
<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    Created with <a href="https://astro.build/" target="_blank" class="font-bold">Astro JS</a>
  </div>
</footer>
<style>

</style>
